<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Customer Registration</title>
        <link rel="stylesheet" type="text/css" href="../styles/form.css">
        <script src="../node_modules/angular/angular.js" type="text/javascript"></script>
        <script src="../modules/serviceModule.js" type="text/javascript"></script>
        <script src="../modules/customerRegModule.js" type="text/javascript"></script>
        <script src="../services/countryService.js" type="text/javascript"></script>
        <script src="../controllers/customerRegController.js" type="text/javascript"></script>
        <script type="text/javascript" src="../scripts/locator.js"></script>
        <script type="text/javascript" src="../scripts/signup.js"></script>

        
    </head>
    <body ng-app="CustomerRegApp">
        <section class="section">
            <article id="map">
            </article>
            <article class="form" ng-controller="CustRegController">
                <form ng-submit="custReg()">
                    <fieldset>
                        <legend>
                            Sign Up Form
                        </legend>
                        <input type="text" placeholder="First Name" required pattern="[a-zA-Z]{5,25}" ng-model="customerRegObj.firstName"/>
                        <input type="text" placeholder="Last Name" required pattern="[a-zA-Z]*" ng-model="customerRegObj.lastName"/>
                        <input type="date" placeholder="DOB" required min="1958-01-01" max="1996-12-31"  ng-model="customerRegObj.dob"/>
                        <input type="text" placeholder="Address" required  max="150" id="address" disabled  ng-model="customerRegObj.address"/>
                        <input type="email" placeholder="email@domain.com" required  ng-model="customerRegObj.email"/>
                        <input type="text" placeholder="Choose a country" list="countryList" required  ng-model="customerRegObj.country"/>
                        <input type="file" placeholder="Profile Picture" id="photo" required onchange="displayPhoto(this)" accept="image/*"/>
                        <input type="submit" value="Submit"/>
                    </fieldset>
                </form>
                <figure id="picPreview">
                    
                </figure>
                <datalist id="countryList">
                    <option ng-repeat="obj in countriesList">{{obj.name}}</option>
                </datalist>
            </article>
        </section>
    </body>
</html>